*{
  text-align: center;
}

.wrapper{
  text-align: center;
  padding: 3%;
}

.logo{
  font-size: 5em;
  color: black;
  text-decoration: none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    font-size: 1.75em;
    text-decoration: none;
    font-family: 'Arial';
}

span{
  font-size: 1.75em;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: red underline;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav img{
  width: 17%;
  padding: 1% 0.85%;
}

span{
  vertical-align: top;
}

/* MOBILE */
@media only screen and (max-width: 414px) {
  *{
    font-size: 0.75em;
  }

  img{
    max-width: 95%;
  }

  .topnav a{
    text-decoration: red underline;
  }

  figcaption{
    position: relative;
    border: 2px solid black;
  }
}
