* {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo img {
  margin: 14px 0;
  width: 50%;
}

.topnav {
  text-transform: uppercase;
}

.topnav a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #080a58
}

.topnav a:visited {
  color: #080a58;
}

.topnav a:hover {
  color: #f28109;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

/* mobile device */
@media screen and (max-width: 660px) {

  .logo img {
    display: block;
  }

  .topnav {
    display: inline-block;
  }

  .topnav a {
    display: none;
    padding: 10px 12px;
  }

  .topnav a.icon {
    position: absolute;
    right: 5%;
    top: 9%;
    display: block;
  }

  .responsive {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .topnav.responsive a {
    display: inline-block;
  }

  .topnav-cont a {
    border: 0.5px solid #080a58b0;
    margin-bottom: 10px;
  }
}

/* tablet/desktop */
@media screen and (min-width: 661px) {

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo img {
    width: 25%;
    margin: -15px 0 0;
  }

  .topnav, .topnav a {
    display: inline-block;
    font-size: 1.1em;
  }

  .topnav {
    width: 74.5%;
    text-align: right;
    vertical-align: middle;
  }

  .topnav a:last-child {
    padding-right: 0;
  }
}
