* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

.brand {
  display: inline-block;
  padding: 10px 0;
}

.brand a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-weight: 600;
  color: #080a58;
  letter-spacing: 0.5px;
}

p {
  font-weight: 400;
  letter-spacing: 11.5px;
  color: #f28109;
  margin: 0;
}

.links {
  text-transform: uppercase;
}

.links a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #080a58
}

.links a:visited {
  color: #080a58;
}

.links a:hover {
  color: #f28109;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.links .icon {
    display: none;
}

/* mobile device */
@media screen and (max-width: 660px) {

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .brand {
    padding: 15px 0;
  }

  .links {
    display: inline-block;
  }

  .links a {
    display: none;
    padding: 10px 12px;
  }

  .links a.icon {
    position: absolute;
    top: 4%;
    right: 2%;
    display: block;
  }

  .responsive {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .links.responsive a {
    display: inline-block;
  }

  .links-cont a {
    border: 0.5px solid #080a58b0;
    margin-bottom: 10px;
  }
}

/* tablet/desktop */
@media screen and (min-width: 661px) {

  .links, .links a {
    display: inline-block;
    font-size: 1.1em;
  }

  .links {
    padding-top: 40px;
    float: right;
  }

  .links a:last-child {
    padding-right: 0;
  }
}
