* {
  margin : 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slide1, .slide2, .slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
}

.values, .testimonials, .properties {
  padding: 9%;
  width: 100%;
}

.values {
  height: 700px;
}


.values div {
  height: 33%;
  text-transform: uppercase;
}

.values h3 {
  width: 39%;
  margin: 0 auto 32px;
  background: #080a58;
  color: white;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
}

.values h5 {
  color: #080a58;
  font-size: 18px;
  font-weight: 600;
}

.values p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #000000d4;
}

.values img {
  max-width: 13%;
}

.testimonials {
  height: 700px;
  background: #ffebd5;
  color: #080a58;
}

.testimonials h3, .testimonials h4, .values h3, .properties h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 3px;
}

.testimonials h3 {
  font-size: 25px;
}

.testimonials p {
  margin: 40px 0;
  line-height: 1.2;
  letter-spacing: 1px;
  border: 4px solid white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.testimonials img {
  max-width: 16%;
  margin: 10px 7px;
}

.testimonials h4 {
  margin-bottom: 40px;
}

.properties {
  height: 550px;
}

.properties h3 {
  width: 50%;
  margin: 0 auto 60px;
  font-weight: 200;
  background: #080a58;
  color: white;
  font-size: 25px;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

.tile {
    margin-top: 45px;
    min-height: 350px;
    background-color: #ccc;
    background-size: cover !important;
}

.browse {
  padding: 7px;
  font-size: 1em;
  margin-top: 40px;
  text-transform: uppercase;
  color: white;
  background: #f28202;
  border: #f28202;
  border-radius: 5px;
}

.browse:hover {
  background: #ce6e00;
  border: #ce6e00;
}

/*DESKTOP*/

@media only screen and (min-width: 1025px) {
  .slider {
    max-width: 100%;
    height: 600px;
    position: relative;
  }
  .slide1 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house4.jpeg)no-repeat center;
    background-size: cover;
    animation:fade 16s infinite;
    -webkit-animation:fade 12s infinite;
  }
  .slide2 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house3.jpeg)no-repeat center;
    background-size: cover;
    animation:fade2 16s infinite;
    -webkit-animation:fade2 12s infinite;
  }
  .slide3 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house1.jpeg)no-repeat center;
    background-size: cover;
    animation:fade3 16s infinite;
    -webkit-animation:fade3 12s infinite;
  }
  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }

  .slide1, .slide2, .slide3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slide1 h3 {
    color: transparent;
  }

  .values {
    padding: 5%;
  }

  .values h3 {
    width: 55%;
    margin-bottom: 10%;
    font-size: 2em;
  }

  .values div {
    display: inline-block;
    width: 33%;
  }

  .values p {
    width: 90%;
    text-align: center;
    margin: 13px auto;
    font-size: 1em;
  }

  .testimonials {
    height: 900px;
    padding: 5%;
  }

  .testimonials h3 {
    margin-bottom: 5%;
    font-size: 2em;
  }

  .testimonials p {
    display: inline-block !important;
    width: 45%;
    margin: 40px 10px 83px;
    line-height: 1.2;
    letter-spacing: 2px;
    border: 6px solid white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
  }

  .testimonials h4 {
    margin-bottom: 40px;
    font-size: 1.5em;
  }

  .testimonials img {
    max-width: 8%;
    margin: 10px 40px;
  }

  .trulia {
    margin-top: 0px !important;
  }

  .properties {
    height: 1000px;
  }

  .properties h3 {
    font-size: 2em;
  }

  .browse {
    padding: 10px;
    font-size: 1.25em;
    text-transform: uppercase;
  }

}

/* MOBILE/TABLET */
@media only screen and (max-width: 1024px) {

  .container {
    text-align: center;
  }

  .slide1, .slide2, .slide3{
    width: 100%;
  }

  .slider {
    max-width: 100%;
    height: 450px;
    position: relative;
  }
  .slide1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-1.amazonaws.com/mean-realestate/house4.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .slide1 h3 {
    font-size: 1.75em;
    color: white;
    position: relative;
    top: 40%;
    line-height: 1.1;
  }

  .tile {
    min-height: 200px;
  }

  .values {
    height: 750px;
  }

  .properties h3 {
    width: 60%;
  }

}
