* {
  margin : 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.top{
  width: 100%;
}

.slide1,.slide2,.slide3{
  position: absolute;
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
}

.description, .testimonials, .properties {
  padding: 10%;
  width: 100%;
  height: 550px;
}

.description div{
  height: 33%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.description h3 {
  width: 40%;
  margin: 0 auto 60px;
  font-weight: 200;
  background: #080a58;
  color: white;
}

.description h5 {
  color: #080a58;
}

.description img {
  max-width: 13%;
}

.testimonials {
  background: #ffebd5;
  color: #080a58;
}

.testimonials h3, .testimonials h4, .description h3, .properties h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimonials p {
  margin: 20px 0;
  line-height: 1.2;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
}

.testimonials img{
  max-width: 16%;
  margin: 10px 7px;
}

.properties h3 {
  width: 50%;
  margin: 0 auto 60px;
  font-weight: 200;
  background: #080a58;
  color: white;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

.tile {
    min-height: 350px;
    background-color: #ccc;
    background-size: cover !important;
}

.tile h1 {
    text-align: center;
    line-height: 200px;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
}







/*DESKTOP/TABLET*/
@media only screen and (min-width: 768px) {
  .slider {
    max-width: 100%;
    height: 600px;
    position: relative;
  }
  .slide1 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house4.jpeg)no-repeat center;
    background-size: cover;
    animation:fade 16s infinite;
    -webkit-animation:fade 12s infinite;
  }
  .slide2 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house3.jpeg)no-repeat center;
    background-size: cover;
    animation:fade2 16s infinite;
    -webkit-animation:fade2 12s infinite;
  }
  .slide3 {
    background: url(https://s3-us-west-1.amazonaws.com/mean-realestate/house1.jpeg)no-repeat center;
    background-size: cover;
    animation:fade3 16s infinite;
    -webkit-animation:fade3 12s infinite;
  }
  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }

  .slide1, .slide2, .slide3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slide1 h3{
    color: transparent;
  }

  .router{
    color: black;
    border: 2px solid #dadada;
    font-size: 1.25rem;
    padding: .5em 1.85em;
    text-decoration: none;
  }
}

/* MOBILE */
@media only screen and (max-width: 767px) {

  section{
    text-align: center;
  }

  .slide1, .slide2, .slide3{
    width: 100%;
  }

  .slider {
    max-width: 100%;
    height: 400px;
    position: relative;
  }
  .slide1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-1.amazonaws.com/mean-realestate/house4.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .slide1 h3{
    font-size: 1.75em;
    color: white;
    position: relative;
    top: 40%;
  }

  .router{
    color: black;
    border: 2px solid #dadada;
    font-size: 1rem;
    padding: .5em 1.85em;
    text-decoration: none;
  }

  .tile {
      min-height: 200px;
  }
}
