$font-stack: Oswald, sans-serif;
$primary-color: #080a58;
$secondary-color: #f28109;

*{
  font-family: $font-stack;
  text-align: center;
}

.btn {
  background: $secondary-color;
  color: white;
}

.jumbo {
  height: 200px;
  background-image:url(https://s3-us-west-1.amazonaws.com/mean-realestate/pexels-photo-286744.jpeg);
  background-position: top;
}

.container {
}

.row {
  padding: 0 125px;
}

img {
  max-height: 300px;
  border-radius: 10px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.listings .btn {
  color: white;
  text-transform: uppercase;
}

.image-container {
  padding: 10px 0;
}

.image-container:hover .img-responsive {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}
