<div class="social">
  <a href="https://www.zillow.com/profile/brokertonyma/#reviews"><img src="https://s3-us-west-1.amazonaws.com/mean-realestate/zillow.png" class="zillow"></a>
  <a href="https://www.trulia.com/profile/tony-ma-agent-alhambra-ca-zgw5pj7v/overview"><img src="https://s3-us-west-1.amazonaws.com/mean-realestate/trulia.png" class="trulia"></a>
  <a href="https://www.google.com/search?q=Tony%20Ma%20Real%20Estate%20Agent&ludocid=3951818538487366440#lrd=0x0:0x36d7ae05eb57c328,1"><img src="https://s3-us-west-1.amazonaws.com/mean-realestate/google.png" class="google"></a>
  <a href="https://www.linkedin.com/in/tonyma01/"><img src="https://s3-us-west-1.amazonaws.com/mean-realestate/linkedin.jpg" class="linkedin"></a>
  <a href="http://global.remax.com/AgentProfile.aspx?AgentID=1005440052"><img src="https://s3-us-west-1.amazonaws.com/mean-realestate/remax.jpg" class="remax"></a>
</div>
<!-- <p><a href="tel:1-626-759-4812">(626) 759-4812</a> | <a href="mailto:brokertonyma@gmail.com">brokertonyma@gmail.com</a> | CalBRE #01931357</p> -->

<div class="nav">
  <div class="nav-content">
    <a href="tel:1-626-759-4812">(626) 759-4812</a> |
    <a href="mailto:brokertonyma@gmail.com">brokertonyma@gmail.com</a> |
    <a href="http://global.remax.com/AgentProfile.aspx?AgentID=1005440052">CalBRE #01931357</a>
  </div>
</div>
