p {
  text-align: center;
  font-family: 'Arial Black';
  background: blue;
}

img {
  max-width: 4%;
  margin: 0 0.3%;
}

.social a {
  width: 25%;
  max-width: 1%;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  text-align: right;
  width: 100%;
  height: 35px;
  background: #090a4c;
  text-transform: uppercase;
  font-family: 'Ropa Sans', sans-serif;
  color: white;
  font-size: 0.85em;
}

.nav-content {
  width: 85%;
  margin: 0 auto;
  transform: translate(0, 60%);
}

.trulia{
  vertical-align: top;
}

.linkedin{
  vertical-align: top;
}

.remax {
  vertical-align: top;
  margin-top: 0.1%;
  max-width: 3%;
}

.social{
  text-align: center;
}

/* DESKTOP */

@media only screen and (min-width: 1025px) {
  .nav-content {
    font-size: 1.5em;
    transform: translate(0, 30%);
  }
}

/* MOBILE */
@media only screen and (max-width: 414px) {

  .nav-content {
    text-align: center;
  }

  img{
    max-width: 13%;
    margin: 1%;
  }

  .remax{
    margin: 1%;
    max-width: 9%;
  }
}

/* Smaller mobiles */
@media only screen and (max-width: 375px) {
  .nav-content {
    font-size: 0.9em;
  }
}
