$font-stack: Oswald, sans-serif;
$primary-color: #080a58;
$secondary-color: #f28109;

* {
  font-family: $font-stack;
  color: $primary-color;
  text-align: center;
}

.container {
  min-height: 500px;
  padding: 15px;
}

.wrapper {
  border: 2px solid #e6e4ff;
  border-radius: 10px;
  box-shadow: 2px 2px #e6e4ff;
  padding: 15px;
}

form {
  label, input {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}
